In [14]:
import pandas as pd
from dataset import Spectrum, load_h5

In [15]:
data = load_h5("dsetsf.h5")

df = pd.DataFrame(
    columns=[
        "B",
        "theta",
        "phi",
        # "freq",
        # "signal",
    ]
)
for i in data:
    df = pd.concat(
        [
            df,
            pd.DataFrame(
                {
                    "B": i.B,
                    "theta": i.theta,
                    "phi": i.phi,
                    # "freq": list(i.freq),
                    # "signal": list(i.signal),
                },
                index=[0],
            ),
        ],
        ignore_index=True,
    )

/tmp/ipykernel_218908/140104692.py:13: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat(

In [16]:
df.head()

         B     theta      phi
0  100.645  0.304242  5.57850
1  100.813  1.763970  3.25462
2  101.417  2.444690  4.78751
3  101.431  0.970714  4.50923
4  101.439  0.204534  3.98642